<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body class="container">
    <div class="header">
        <div class="logo">
            <a href="../../index.html"><img class="img" src="../../ASSETS/logo.jpg" alt="Zalora" /></a>
        </div>
<!-- MENU UTAMA -->
        <div class="menu">
            <nav>
                <a href="#">WANITA</a>
                <a href="#">PRIA</a>
                <a href="">ANAK-ANAK</a>
            </nav>
        </div>
<!-- SEARCH -->
        <form>
            <input class="search" type="search" name="search" />
        </form>
    </div>
<!-- SUBMENU -->
        <div class="submenu">
            <subnav>
                <a href="#" style="color: black;">PAKAIAN</a>
                <a href="#" style="color: black;">SEPATU</a>
                <a href="#" style="color: black;">TAS</a>
                <a href="#" style="color: black;">JAM & AKSESORIES</a>
                <a href="#" style="color: black;">BAJU MUSLIM</a>
                <a href="#" style="color: black;">SPORT</a>
                <a href="#" style="color: black;">BATIK</a>
                <a href="#" style="color: black;">BEAUTY</a>
                <a href="#" style="color: black;">BRANDS</a>
                <a href="#" style="color: black;">FLAGSHIP STORES</a>
                <a href="#" style="color: black;">SALE</a>

            </subnav>
        </div>   
    
<!-- PILIHAN -->
    <div class="pilihan">
        <div class="pilih1">
            <h4 style="text-align: left;">PAKAIAN WANITA</h4>    
        </div>
        <div class="pilih2">
            <p style="color: black;">97068 Produk | Atur Berdasarkan
                <select>
                    <option value="Harga Terendah">Harga Terendah</option>
                    <option value="Harga Tertinggi">Harga Tertinggi</option>
                    <option value="Popularitas">Popularitas</option>
                </select>
            </p>     
        </div>
    </div>

<!-- ETALASE -->
    <div class="etalase">
        
        <div class="item1">
            <p style="color: black;">
                Kategori
                <input type="search" />
            </p>
            <input type="checkbox" value="Dress"> Dress<br>
            <input type="checkbox" value="Atasan"> Atasan<br>
            <input type="checkbox" value="Rok"> Rok<br>
            <input type="checkbox" value="Playsuits"> Playsuits & Jumpsuits<br>
            <input type="checkbox" value="Celana"> Celana Pendek<br>
            <input type="checkbox" value="Legging"> Celana & Legging<br>
            <input type="checkbox" value="Jeans"> Jeans<br>
            <input type="checkbox" value="Swimwear"> Swimwear & Beachwear<br>
            <input type="checkbox" value="Knitwear"> Knitwear & Cardigans<br>
            <input type="checkbox" value="Hoodies"> Hoodies & Sweatshirts<br>
            <input type="checkbox" value="Blazer"> Blazer<br>
        </div>
        <div class="item1">
                <img src="../../ASSETS/atasan.jpg" alt="Atasan"width="224" height="327"/>
                <h4 style="text-align: left; border-bottom-style: solid; border-bottom-width: 1px;">Berrybenka Label</h4>
                <h5 style="text-align: left;">Lucas Half Plaid Shirt Blue</h5>
                <h5 style="text-align: right;">Rp 229.000</h5>
        </div>
        <div class="item3">
                <img src="../../ASSETS/celana.jpg" alt="Celana"width="224" height="327"/>
                <h4 style="text-align: left; border-bottom-style: solid; border-bottom-width: 1px;">Chic Simple</h4>
                <h5 style="text-align: left;">Ruched Pleated Pants</h5>
                <h5 style="text-align: right;">Rp 398.000</h5>
                <h4 style="text-align: right; color: red;">NOW Rp 199.000</h4>
        </div>
        <div class="item4">
            <img src="../../ASSETS/rok.jpg" alt="Rok"width="224" height="327"/>
            <h4 style="text-align: left; border-bottom-style: solid; border-bottom-width: 1px;">Chic Simple</h4>
            <h5 style="text-align: left;">Pleated Maxi Skirt</h5>
            <h5 style="text-align: right;">Rp. 458.000</h5>
            <h4 style="text-align: right; color: red;">NOW Rp 229.000</h4>
        </div>
        
    </div>

 <!-- FOOTER -->
    <div class="footer">
        <div class="foot1">
            <p style="color:white;">Sebagai Pusat Fashion Online di Asia, kami menciptakan kemungkinan-kemungkinan gaya tanpa batas dengan cara memperluas jangkauan produk,
                        mulai dari produk internasional hingga produk lokal dambaan.
                        Kami menjadikan Anda sebagai pusatnya. Bersama ZALORA, You Own Now.
            </p>
        </div>
        <div class="foot2">
            <ul>
                <li><a href="#">Bantuan</a></li>
                <li><a href="#">Cara Pengembalian</a></li>
                <li><a href="#">Product Index</a></li>
                <li><a href="#">Promo Partner Kami</a></li>
            </ul>
        </div>
        <div class="foot3">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Promosikan Brand Anda</a></li>
                <li><a href="#">Pers/Media</a></li>
                <li><a href="#">Karir</a></li>
            </ul>
        </div>
        <div class="foot4">
            <p>Anda baru di Zalora?</p>
            <p>Dapatkan Rp 75.000 VOUCHER (ditambah dengan berita fashion dan peluncuran brand terbaru)
                    hanya dengan berlangganan newsletter kami.
                    <p class="email">
                        Masukkan Email
                        <input type="email" name="email" style="margin-top: 10px;" />
                    </p>
            </p>
        </div>
    </div>

</body>
</html>