.container {
    /* display: block; */
    width: 100%;
}

.header {
    display: flex;
    background-color: black;
    /* width: 100%; */
}

.img {
    width: 150px;
    height: 75px;
}

a, p, label {
    color: white;
    text-decoration: none;
    padding: 10px;
}
a:hover {
    border-bottom: black;
    text-decoration: underline;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.submenu {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50%;
}

.pilihan {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.pilihan::after, .pilihan::before {
    display: table;
}

.pilihan::after {
    clear: both;
}




.etalase {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.etalase::after, .etalase::before {
    display: table;
}

.etalase::after {
    clear: both;
}

.item1, .item2, .item3, .item4, .item5 {
    padding: 5px;
}

h2, h4, h5 {
    text-align: center;
}
.foot {
    display: flex;
    justify-content: space-between;
    /* border-top-style: solid;
    border-top-width: 5px; */
    padding: 15px;
    background-color: black;
}
        
.footer {
    background-color: black;
    display: flex;
    
}

.foot1, .foot2, .foot3, .foot4 {
    margin: 10px;
    border-top-width: 5px;
    border-top-style: solid;
} 

.foot1 {
    width: 700px;
}

.foot2 {
    width: 500px;
}

.foot3 {
    width: 500px;
}

.foot4 {
    width: 700px;
}

.email {
    display: flex;
    flex-direction: column;
}


