<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body class="container">
        <div class="header">
            <div class="logo">
                <a href="../INDEX/index.html"><img class="img" src="../../ASSETS/logo.jpg" alt="Zalora" /></a>
            </div>
    <!-- MENU UTAMA -->
            <div class="menu">
                <nav>
                    <a href="../../VIEW/PRODUCT/productwanita.html">WANITA</a>
                    <a href="#">PRIA</a>
                    <a href="">ANAK-ANAK</a>
                </nav>
            </div>
    <!-- SEARCH -->
            <form>
                <input class="search" type="search" name="search" />
            </form>
        </div>
    <!-- SUBMENU -->
            <div class="submenu">
                <subnav>
                    <a href="#" style="color: black;">PAKAIAN</a>
                    <a href="#" style="color: black;">SEPATU</a>
                    <a href="#" style="color: black;">TAS</a>
                    <a href="#" style="color: black;">JAM & AKSESORIES</a>
                    <a href="#" style="color: black;">BAJU MUSLIM</a>
                    <a href="#" style="color: black;">SPORT</a>
                    <a href="#" style="color: black;">BATIK</a>
                    <a href="#" style="color: black;">BEAUTY</a>
                    <a href="#" style="color: black;">BRANDS</a>
                    <a href="#" style="color: black;">FLAGSHIP STORES</a>
                    <a href="#" style="color: black;">SALE</a>
    
                </subnav>
            </div>   
        
    <!-- ETALASE -->
        <div class="etalase">
            <div class="item1">
                <img src="../../ASSETS/pakaian.png" alt="pakaian" width="224" height="327"/>
            </div>
            
            <div class="item2">
                <h4 style="text-align: left;">Jayashree Batik</h4>                
                <h5 style="text-align: left;">Longsleeve Myra Slimfit</h5>
                <ul>
                    <li>Material 100% Cotton</li>
                    <li>Multiwarna</li>
                    <li>Batik Print</li>
                    <li>Unlined</li>
                    <li>Slim fit</li>
                    <li>Detail kantong depan</li>
                    <li>Hidden Button</li>
                    <li>Tinggi model 180cm, mengenakan ukuran M</li>
                </ul>
                <h5 style="text-align: left;">30 HARI PENGEMBALIAN</h5>
                <h5 style="text-align: left;">CASH ON DELIVERY </h5>
            </div>

            <div class="item3">
                <h4 style="text-align: left;">100% Produk Original</h4>                
                <h5 style="text-align: left;">Pilih Ukuran</h5>
                <p style="color: black; text-align: left;">Anda tidak yakin?  Lihat Detail Ukuran </p>
                <div class="pilih">
                    <select>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                    </select>
                    
                </div> 
                <p>
                    <input type="submit" value="KERANJANG"/>
                    <input type="submit" value="BELI"/>
                </p>
            </div>
        </div>
    
     <!-- FOOTER -->
        <div class="footer">
            <div class="foot1">
                <p style="color:white;">Sebagai Pusat Fashion Online di Asia, kami menciptakan kemungkinan-kemungkinan gaya tanpa batas dengan cara memperluas jangkauan produk,
                            mulai dari produk internasional hingga produk lokal dambaan.
                            Kami menjadikan Anda sebagai pusatnya. Bersama ZALORA, You Own Now.
                </p>
            </div>
            <div class="foot2">
                <ul>
                    <li><a href="#">Bantuan</a></li>
                    <li><a href="#">Cara Pengembalian</a></li>
                    <li><a href="#">Product Index</a></li>
                    <li><a href="#">Promo Partner Kami</a></li>
                </ul>
            </div>
            <div class="foot3">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Promosikan Brand Anda</a></li>
                    <li><a href="#">Pers/Media</a></li>
                    <li><a href="#">Karir</a></li>
                </ul>
            </div>
            <div class="foot4">
                <p>Anda baru di Zalora?</p>
                <p>Dapatkan Rp 75.000 VOUCHER (ditambah dengan berita fashion dan peluncuran brand terbaru)
                        hanya dengan berlangganan newsletter kami.
                        <p class="email">
                            Masukkan Email
                            <input type="email" name="email" style="margin-top: 10px;" />
                        </p>
                </p>
            </div>
        </div>
    
    </body>
</html>